<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 10px 14px;
    border: 1px solid #ccc;
}

th {
    background-color: #5c5757;
    color: white;
}

tr:nth-child(even) {
    background-color: #645a5a;
}

tbody tr:hover {
    background-color: #705f5f;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #999;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input:focus,
textarea:focus {
    border-color: blue;
    outline: none;
}

input:invalid,
textarea:invalid {
    border-color: red;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}
label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

button {
    margin-top: 10px;
}
</style>
